<nav class="navbar navbar-expand-sm navbar-dark bg-dark">


    <!-- 	<i class="fas fa-globe-asia"></i> -->
    <i id="logo" class="fas fa-home"></i>
    <a href="a" class="navbar-brand ml-2">TechnoTech</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
                      <span class="navbar-toggler-icon"></span>
                  </button>
    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ml-5">
            <li class="nav-item">
                <a routerLinkActive="active" routerLink="/home">Employee list</a>
            </li>
            <li class="nav-item ml-3">
                <a routerLinkActive="active" [routerLink]="['/about']">Career</a>
            </li>
            <li class="nav-item ml-3">
                <a routerLinkActive="active" [routerLink]="['/services']">Services</a>
            </li>

        </ul>


    </div>

    <form class="form-inline ml-5">
        <input type="search" class="form-control ml-5 ">
        <button type="button" class="form-control btn btn-success ml-2">Search</button>
    </form>
</nav>